.main {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1140px;
    .main-h1 {
        margin-bottom: 20px;
        padding-bottom: 11px;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: normal;
        color: #333;
    }
    .main-info {
        p {
            color: #333;

        }
    }
}
