.menu {
    width: 23%;
    padding-right: 10px;
    .menu-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #333;
        font-size: 12px;
        padding: 15px 15px;
        border: 1px solid #ebeef1;
        border-bottom: 0;
        &:hover {
            color: #ffab50;
        }
        &:last-child{
            border-bottom: 1px solid #ebeef1; 
        }
    }
    
}
