header {
    // #ff8506
    margin: 20px auto 0;
    padding: 0 10px;
    max-width: 1140px;
    .header__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 80px;
            background-color: #ff8506;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            border-radius: 20px;
            text-decoration: none;
        }
        .header__type {
            display: flex;
            align-items: center;
            .header__type-text {
                color: #95979a;
                font-size: 14px;
                line-height: 16px;
                margin-right: 10%;
                white-space: nowrap;
            }
            .header__type-button {
                border: 1px solid #ff8506;
                color: #ff8506;
                padding-top: 5px;
                padding-bottom: 6px;
                max-width: 175px;
                border-width: 2px;
                letter-spacing: 0.03em;
                border-radius: 3px;
                background: none;
                font-size: 12px;
                cursor: pointer;
                .header-button {
                }
            }
        }
        .header__contacts {
            color: #222;
            font-weight: 600;
            line-height: 21px;
            font-size: 20px;
            text-align: right;
            a {
                text-decoration: none;
                color: #000;
            }
        }
        .header__contacts-mob {
            display: none;
        }
        
    }
    
    .header__nav {
        margin-top: 20px;
        height: 60px;
        background-color: #ff8506;
        color: #fff;
        nav {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            .nav-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 100%;
                &:hover {
                    background-color: #ffab50;
                }
                &:active {
                    background-color: #ffab50;
                }
            }
        }
    }
   
}
.header__link, .phone-number {
    text-decoration: none;
    color: #000;
}
.contacts__mob-link {
    background-color: #ff8506;
    height: 48px;
    color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    a {
        color: #fff;
        margin-left: 16px;
    }
}
@media (max-width: 580px) {
    header {
        .header__main {
            .header__contacts {
                display: none;
            }
            .header__contacts-mob {
                display: block;
            }
        }
    }
}

@media (max-width: 899px) {
    header {
        .header__main {
            .header__type {
                .header__type-text {
                    display: none;
                }
            }
        }
        .header__nav {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    header {
        .header__main {
            .header__logo {
                width: auto;
                height: 80px;
                padding: 0 2%;
                height: 60px;
                font-size: 14px;
            }
        }
    }
}
