.order__content {
    margin: 30px 0;
    height: 80px;
    background: #f7f7f8;
    border: 1px solid #edf0f2;
    color: #555555;
    clear: both;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    .order__content-btn {
        cursor: pointer;
        min-width: 155px;
        height: 40px;
        background-color: #ff8506;
        border-color: #ff8506;
        color: #ffffff;
        font-size: 14px;
        border: none;
        padding: 10px 15px;
        margin-right: 10px;
        line-height: 1;
        &:hover {
            background-color: #ffab50;
        }
    }
    @media (max-width: 570px) {
        flex-direction: column;
        height: 100px;
        padding: 20px;
        .order__content-text {
            margin-top: 30px;
        }
    }
}

.main {
    .order__content {
        margin: 30px 0 0 0;
        background: #ff8506;
        flex-direction: row-reverse;
        text-align: left;
        .order__content-btn {
            min-width: 162px;
            font-weight: 600;
            border: 2px solid #fff;
            color: #fff;
            margin-right: 0;
            &:hover {
                background-color: #fff;
                color: #ff8506;
            }
        }
        h2 {
            color: #fff;
        }
        .order__content-text {
            color: #fff;
            margin-right: 10px;
        }
        @media (max-width: 900px) {
            .order__content-btn {
                font-size: 12px;
            }
            .order-arrow {
                display: none;
            }
            .order__content-text {
                font-size: 12px;
                margin: 0 10px;
            }
        }

        @media (max-width: 680px) {
            flex-direction: column-reverse;
            height: 170px;
            padding: 20px;
            .order__content-btn {
                margin-top: 20px;
            }
        }
    }
}
