.servicesPage {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1140px;
    display: flex;
    section {
        width: 75%;
    }
    hr {
        margin: 20px 0;
    }
    .services-phone {
        text-decoration: none;
        font-weight: 600;
        color: #ff8506;
    }
    margin-bottom: 20px;
}